---
import { getCollection } from "astro:content";

import ResourcesLayout from "@layouts/ResourcesLayout.astro";
import { sortResources } from "@utils/resource";

const resources = sortResources(await getCollection("resources"));
---

<ResourcesLayout
  title="Resources"
  description="Graphics programming resources and learning materials"
  resources={resources}
  allResources={resources}
  currentPath=""
>
  <h1>Resources</h1>
  <p>
    This page contains a collection of graphics programming and adjacent
    resources curated by our meetup attendees.
  </p>
  <p>
    New to graphics programming and don't know where to start? Check our curated <a
      href="/resources/categories/beginner-friendly"
    >
      beginner friendly
    </a> resources.
  </p>
  <p>
    <small>
      Want to add a resource? See <a href="/resources/how-to-add"
        >guide for adding resources</a
      >.
    </small>
  </p>
</ResourcesLayout>
