---
import { ResourceCategory } from "@utils/resourceCategory";

interface Props {
  category?: ResourceCategory;
  currentPath: string;
}

const { category, currentPath } = Astro.props;

const link = category ? `/resources/categories/${category.slug}` : "/resources";
const isActive = category ? currentPath == category.slug : currentPath === "";

const text = category ? category.last : "All Resources";
---

{isActive ? <span>{text}</span> : <a href={link}>{text}</a>}

<style>
  a,
  span {
    font-size: calc(max(0.75em, 12.5px));
  }

  span {
    color: var(--color-link);
    font-weight: bold;
  }
</style>
