---
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Graphics Programming Virtual Meetup</title>
    <meta
      name="description"
      content="Welcome to Graphics Programming Virtual Meetup, a weekly virtual meetup dedicated to graphics programming!"
    />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <meta property="og:title" content="Graphics Programming Virtual Meetup" />
    <meta
      property="og:description"
      content="Welcome to Graphics Programming Virtual Meetup, a weekly virtual meetup dedicated to graphics programming!"
    />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gpvm.org/" />
    <meta
      name="fediverse:creator"
      content="@graphicsmeetup@mastodon.gamedev.place"
    />
  </head>
  <body>
    <main id="main" class="container">
      <slot />
    </main>
    <footer>
      <div class="container">
        <p>
          © Graphics Programming Virtual Meetup. Built with
          <a href="https://astro.build/">Astro</a>
        </p>
      </div>
    </footer>
  </body>
</html>
